body {
		border: 1px solid #dddddd ;
		background-image: url(../images/concrete-texture.png);
 }	

.dropdown-menu {
  min-width:auto;
  
 
}

.btn-width {
	width: 200px;
}


/* Added Sept 30, 2017 */

.divHorizontal{
	display: inline-block;
	width: 18%;
	margin-top: 10px;
	border-bottom: 1px solid black;
}